/* General */

.animate, .animate * {
	transition: background 1s;
}

html {
	
}

body {
	font-family: sans-serif;
	margin: 0;
	background: #f8f8f8;
}

body.dark {
	background: #2a2a2a;
	color: #eee;
}

header {
	background: white;
	margin-bottom: 12px;
	display: flex;
	flex-direction: row;
}

.dark header {
	background: #555;
}

header > div {
	flex: auto 1 1;
}

a {
	color: #1b71ba;
	text-decoration: none;
	transition: color 0.1s;
	cursor: pointer;
}

.dark a {
	color: #6bb2ef;
}

a:hover {
	color: #3e96e0 !important;
}

.dark a:hover {
	color: #a6cded !important;
}

.dark input {
	color: white;
}

.wrapper.search-open .page {
	height: 0;
	overflow: hidden;
}

.error {
	color: #9b2727;
}

.spinner {
	height: 32px;
	margin: 64px 0;
	background: url('../img/spinner.gif') no-repeat center center;
	background-size: contain;
}

.dark .spinner {
	-moz-filter: invert(1);
	-webkit-filter: invert(1);
	filter: invert(1);
}
/* Search */

.search-box {
	background: white;
	font-size: 1;
	font-family: sans-serif;
	color: #444;
	display: flex;
	flex-direction: column;
}

.dark .search-box {
	background: #1f1f1f;
}

.search-box.open {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.search-bar {
	padding: 0 42px;
	flex: auto 0 0;
	display: flex;
	flex-direction: row;
}

.search-input {
	padding: 16px;
	border: none;
	background: none;
	flex: auto 1 1;
	outline: none;
	font-size: 1em;
}

.search-action {
	display: inline-block;
	padding: 16px 0;
	padding-left: 0;
	width: 15px;
	text-align: center;
}

.search-results {
	flex: auto 1 1;
	/*position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;*/
	background: white;
	z-index: 10;
	padding: 10px 42px;
	border-top: solid 1px #eee;
	overflow: auto;
}

.dark .search-results {
	background: rgb(31, 31, 31);
	border-top: solid 1px #393939;
}

.search-results > .spinner {
	margin: 200px 0;
}

.search-results > .no-result {
	padding: 10px 30px;
	color: #999;
}

.search-result {
	padding: 24px 0;
	border-bottom: solid 1px #eee;
}

.dark .search-result {
	border-bottom: solid 1px #2f2f2f;
}

.search-result:last-child {
	border-bottom: none;
	margin-bottom: 42px;
}

.search-result .spinner {
	height: 16px;
	margin: 0;
}

.search-result .preview {
	color: #666;
}

.dark .search-result .preview {
	color: #d8d8d8;
}

.search-result .preview p {
	margin: 6px 0;
}

.search-result .preview p strong {
	font-weight: normal;
	background: rgb(207, 231, 255);
	border-radius: 2px;
}

.dark .search-result .preview p strong {
	background: rgb(255, 128, 0);
	color: black;
}
/* Toolbar */

.search-box .toolbar > a {
	padding: 16px 0;
	display: inline-block;
}
/* Page */

h2 {
	color: #444;
	font-weight: normal;
	font-size: 1.8em;
	margin-top: 24px;
	margin-bottom: 6px;
}

.dark h2 {
	color: #b2b9c1;
}

h2 .secondary {
	color: #aaa;
}

.dark h2 .secondary {
	color: #848484;
}

h2 .fa {
	margin-right: 4px;
}

.page {
	padding: 10px 42px;
}

.breadcumb {
	padding: 0 2px;
}

.breadcumb .tree:before {
	content: "/ ";
	color: #bbb !important;
	cursor: default;
}

.presentation {
	color: #888;
}

.dark .presentation {
	color: #b2b9c1;
}

.page .actions {
	padding: 10px;
}

.page .actions a {
	margin-right: 6px;
}

.page-content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	max-width: 844px;
}

.page-content > * {
	flex: auto 1 1;
}
/* Section */

section.block {
	background: white;
	padding: 32px;
	margin: 20px 0;
	border-radius: 3px;
}

section.block > *:first-child {
	margin-top: 0;
}
/* Nav */

nav > ul {
	margin: 0;
	padding: 0;
}

nav > ul > li {
	list-style: none;
	background: #fff;
	border-radius: 3px;
}

.dark nav > ul > li {
	background: #2d3033;
}

nav > ul > li > a {
	display: block;
	padding: 10px;
	margin: 6px 0;
	transition: background 0.1s;
}

nav > ul > li > a:hover {}

nav > ul > li > a .fa {
	margin-right: 4px;
}

nav > a {
	margin-right: 10px;
}
/* Summary */

.tree {}

.summary {
	margin-left: 24px;
	padding-top: 16px;
	flex: 160px 0 0;
}

.summary > ul > li {
	background: none;
}

.summary > ul > li > a {
	padding: 0;
	margin: 6px 0;
}

.summary .current {
	font-weight: bold;
}
/* Article */

article {
	background: white;
	padding: 6px 32px;
	margin: 20px 0;
	border-radius: 3px;
	text-align: justify;
}

.dark article {
	background: #2d3033;
}

article h2 {
	margin-top: 16px;
}

.article-preview {
	display: block;
}

.article-preview .spinner {
	height: 16px;
	margin: 4px 0;
}

.article-preview article {
	margin-top: -18px;
	margin-bottom: 6px;
	padding: 4px 32px;
	font-size: 0.95em;
}

.article-preview article p {
	margin: 10px 0;
}
/* Commit */

.commit {
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 42px;
	background: #fff;
	border-radius: 3px;
}

.dark .commit {
	background: #2d3033;
}

.commit .message {
	padding: 10px 0;
}

.commit .message.sticky {
	background: white;
	z-index: 100;
	border-bottom: solid 1px #ddd;
	transition: none;
}

.dark .commit .message.sticky {
	background: #2d3033;
	border-bottom: solid 1px #555;
}

.commit .file {
	color: #666;
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: dashed 1px #ddd;
}

.dark .commit .file {
	color: #d0d0d0;
	border-bottom: dashed 1px #464646;
}

.commit .file:last-of-type {
	padding-bottom: 0;
	border-bottom: none;
}

.commit .file .head {
	margin-bottom: 6px;
}

.commit .file .head > * {
	margin-right: 10px;
}

.commit .file .status {
	display: inline-block;
	color: #999;
}

.commit .file .diff {
	text-align: justify;
}

.diff ins {
	background: #b4fab4;
	text-decoration: none;
}

.diff del {
	background: #fcc8c8;
	color: #bc2626;
}

.dark .diff ins {
	background: none;
	color: #00ce08;
}

.dark .diff del {
	background: none;
	color: #f24242;
}
/* Forms */

select {
	border: solid 1px #ccc;
	border-radius: 3px;
	font-size: 1em;
	padding: 2px 4px;
}

.dark select {
	border: solid 1px #333;
	background: #555;
	color: #ddd;
}
/* Footer */

footer {
	margin-top: 42px;
	font-size: 0.95em;
	text-align: center;
	border-top: solid 1px #eee;
	padding: 32px 10px;
}

.dark footer {
	border-top: solid 1px #383838;
}

footer a {
	color: #666;
}

.dark footer a {
	color: #cbcbcb;
}

footer .links a {
	margin: 0 16px;
}

footer .credits {
	color: #aaa;
	margin-top: 32px;
	font-size: 0.7em;
}

.dark footer .credits {
	color: #7c7c7c;
}
/* Mobile */

@media(max-width: 640px) {
	.animate, .animate * {
		transition: none;
	}
	.search-bar {
		padding: 0 10px;
	}
	.search-results > .no-result {
		padding: 10px 0;
	}
	.search-result .preview {
		max-height: 100px;
		overflow: hidden;
		position: relative;
	}
	.search-result .preview:after {
		content: "";
		display: block;
		background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
		/* FF3.6+ */
		
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
		/* Chrome,Safari4+ */
		
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
		/* Chrome10+,Safari5.1+ */
		
		background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
		/* Opera 11.10+ */
		
		background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
		/* IE10+ */
		
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
		/* W3C */
		
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
		/* IE6-9 */
		
		position: absolute;
		height: 40px;
		left: 0;
		right: 0;
		top: 60px;
		pointer-events: none;
	}
	.dark .search-result .preview:after {
		content: "";
		display: block;
		background: -moz-linear-gradient(top, rgba(31, 31, 31, 0) 0%, rgba(31, 31, 31, 1) 100%);
		/* FF3.6+ */
		
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(31, 31, 31, 0)), color-stop(100%, rgba(31, 31, 31, 1)));
		/* Chrome,Safari4+ */
		
		background: -webkit-linear-gradient(top, rgba(31, 31, 31, 0) 0%, rgba(31, 31, 31, 1) 100%);
		/* Chrome10+,Safari5.1+ */
		
		background: -o-linear-gradient(top, rgba(31, 31, 31, 0) 0%, rgba(31, 31, 31, 1) 100%);
		/* Opera 11.10+ */
		
		background: -ms-linear-gradient(top, rgba(31, 31, 31, 0) 0%, rgba(31, 31, 31, 1) 100%);
		/* IE10+ */
		
		background: linear-gradient(to bottom, rgba(31, 31, 31, 0) 0%, rgba(31, 31, 31, 1) 100%);
		/* W3C */
		
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
		/* IE6-9 */
		
		position: absolute;
		height: 40px;
		left: 0;
		right: 0;
		top: 60px;
		pointer-events: none;
	}
	.page {
		padding: 10px 10px;
	}
	article {
		padding: 2px 16px;
	}
	.summary {
		display: none;
	}
	.commit .file .head > * {
		margin-bottom: 10px;
		display: inline-block;
	}
	footer .links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	footer .links a {
		
		margin: 16px;
	}
}