<!DOCTYPE html>
<html lang="fr" ng-app="code-civil-git">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no">

	<title>Code Civil Cloud</title>

	<link rel="icon" href="favicon.ico" />

	<!-- CSS -->

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />

	<!-- Javascript -->

	<script src="js/lib/jquery-2.1.3.min.js"></script>
	<script src="js/lib/angular.js"></script>
	<script src="js/lib/angular-sanitize.min.js"></script>
	<script src="js/lib/angular-ui-router.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/github.js"></script>
	<script src="js/lib/Showdown.min.js"></script>
	<script src="js/lib/markdown.js"></script>
	<script src="js/lib/sticky.js"></script>
	<script src="js/lib/diff_match_patch.js"></script>

	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/services.js"></script>
	<script src="js/directives.js"></script>
</head>

<body>
	<div class="wrapper">

		<!-- Header -->

		<header>

			<!-- Search -->

			<div class="search-box" ng-controller="SearchCtrl as Search">

				<!-- Close button -->

				<a class="search-action" ng-click="Search.closed = !Search.closed">
					<i class="fa fa-search" ng-if="Search.closed || (Search.results == null && !Search.loading)"></i>
					<i class="fa fa-times" ng-if="!Search.closed && (Search.results != null || Search.loading)" title="Fermer"></i>
				</a>

				<!-- Input field -->

				<input class="search-input" placeholder="Rechercher..." ng-model="searchQuery" ng-enter="Search.search(searchQuery);" ng-click="Search.closed = false" />

				<!-- Search button -->

				<a class="search-action" ng-click="Search.search(searchQuery);" ng-if="!Search.closed" title="Lancer la recherche">
					<i class="fa fa-arrow-right"></i>
				</a>

				<!-- Search results -->

				<div class="search-results" ng-hide="Search.closed || (Search.results == null && !Search.loading && !Search.error)">

					<div class="spinner" ng-show="Search.loading"></div>

					<div class="no-result" ng-show="Search.results.length == 0">Pas de résultat.</div>

					<div class="error" ng-show="Search.error">{{ Search.error }}</div>

					<div class="search-result" ng-repeat="result in Search.results" ng-hide="Search.loading">

						<search-result path="result.path" name="result.name" search-query="searchQuery" ng-click="Search.closed = true" />

					</div>

				</div>

			</div>

		</header>

		<!-- Main view -->

		<div class="main" ui-view>

		</div>

		<!-- Footer -->

		<footer>
			<div class="links">
				<a href="https://github.com/Akryum/code-civil/issues"><i class="fa fa-bug"></i> Signaler un problème</a>
				<a href="https://github.com/steeve/france.code-civil"><i class="fa fa-database"></i> Source &amp; Données</a>
				<a href="https://github.com/Akryum/code-civil"><i class="fa fa-github"></i> Sources du site</a>
			</div>
			<div class="credits">Réalisé par Guillaume CHAU @ Akryum</div>
		</footer>

	</div>
</body>
</html>