<div class="page page-home">

	<!-- Breadcumb -->

	<div class="breadcumb">
		<a href="#/" title="Accueil"><i class="fa fa-home"></i> Accueil</a><span class="presentation"> - Parcourez le Code Civil facilement et rapidement !</span>
	</div>

	<!-- Home list -->

	<section ng-controller="HomeCtrl as Home">

		<!-- Title -->

		<h2><i class="fa fa-cloud"></i> Code Civil <span class="secondary">Cloud</span></h2>

		<!-- Content -->

		<div class="spinner" ng-show="Home.loading" />

		<div class="page-content">

			<nav ng-hide="Home.loading">
				<ul>
					<li ng-repeat="tree in Home.tree | filter:{type:'tree'} | orderBy:[Home.treeOrderFunction, path]">
						<a href="#/tree/{{tree.path}}"><i class="fa fa-book"></i> {{ tree.path }}</a>
					</li>
				</ul>
			</nav>

		</div>

	</section>

	<!-- Commits -->

	<section ng-controller="CommitsCtrl as Commits">

		<!-- Title -->

		<h2><i class="fa fa-history"></i> Modifications récentes</h2>

		<!-- Content -->

		<div class="spinner" ng-show="Commits.loading" />

		<div class="page-content">
			<div class="commits">

				<commit ng-repeat="commit in Commits.commits" commit="commit" />

			</div>
		</div>

	</section>

</div>