<div id="page-home" class="page" ng-controller="HomeCtrl as Home">

	<!-- Breadcumb -->
	
	<div class="breadcumb">
		<a href="#/" title="Accueil"><i class="fa fa-home"></i> Accueil</a><span class="presentation"> - Parcourez le Code Civil facilement et rapidement !</span>
	</div>
	
	<!-- Title -->

	<h2><i class="fa fa-cloud"></i> Code Civil <span class="secondary">Cloud</span></h2>
	
	<!-- Content -->
	
	<div class="spinner" ng-show="Home.loading"/>

	<nav ng-hide="Home.loading">
		<ul>
			<li ng-repeat="tree in Home.tree | filter:{type:'tree'} | orderBy:[Home.treeOrderFunction, path]">
				<a href="#/tree/{{tree.path}}"><i class="fa fa-book"></i> {{ tree.path }}</a>
			</li>
		</ul>
	</nav>

</div>